@import "tailwindcss";
*{
  box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
.uni_container{
  width: 100%;
  max-width: 75%;
  min-width: 75%;
  margin-inline: auto;
}